.login-body {
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	height: 100vh;

	.login-image {
		height: calc(100% - 380px);
		// background: url("../images/login/bg-login.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}

	.login-panel {
		width: 100%;
		height: 100vh;
		position: absolute;
		margin-bottom: 0;
		border-radius: 0;
		// bottom: 0;
		text-align: center;
		// background-color: #292b2c;
		background-color: seagreen;

		.login-panel-content {
			width: 400px;
			position: relative;
			margin-left: -200px;
			top: 30px;
			left: 50%;
			color: #ffffff;

			.login-label {
				color: #cccccc;
				margin-bottom: 5px;
			}

			.login-input {
				margin-top: 5px;
			}

			.guest-sign-in {
				color: #999999;
				color: seashell;
				font-size: 12px;
			}

			.welcome-text {
				margin-bottom: 0;
			}

			.link-pane {
				// padding-top: 24px;

				button {
					color: #cccccc;
				}

			}

			.button-pane {
				padding-top: 16px;
				padding-bottom: 32px
			}
		}
	}
}

@media (max-width: 640px) {
	.login-body {
		.login-panel {
			.login-panel-content {
				padding: 0 50px;
			}
		}
	}
}
